@tailwind components;

@layer components {
    .DataTable {
        @apply overflow-x-auto;
    }

    .DataTable tr.row-success {
        color: hsl(var(--su));
    }

    .DataTable tr.row-error {
        color: hsl(var(--er));
    }

    .DataTable tr.row-selected {
        background-color: hsl(var(--b3));
    }

    .DataTable td input,
    .DataTable th input {
        background: transparent;
        border: 0;
    }

    .DataTable .Field {
        width: 100%;
    }
}