@tailwind components;

@layer components {
  .Progress {
    @apply relative w-full h-4 overflow-hidden rounded-2xl;
    @apply flex items-center justify-center;
    @apply bg-base-100 shadow;
    @apply border;
  }

  .ProgressBar {
    @apply absolute left-0 top-0 w-full h-full overflow-hidden;
    background-color: oklch(var(--p) / 0.5);
    transition: all 150ms ease;
  }

  .ProgressText {
    @apply absolute left-0 top-0 w-full h-full z-10;
    @apply flex items-center justify-center;
  }

  .ProgressText-in {
    transition: all 150ms ease;
  }
}
