@tailwind components;

@layer components {
  .SelectInput {
    @apply input input-bordered w-full;
    @apply flex items-center justify-between gap-2 cursor-pointer;
    @apply cursor-pointer text-left;
  }

  .SelectInputPrefix {
    @apply h-4 opacity-50;
  }

  .SelectInputSuffix {
    @apply opacity-50;
  }

  .SelectInputChevron {
    @apply w-5 h-5 opacity-50 shrink-0 text-gray-500 transition-transform;
  }

  .SelectInputChevron-open {
    @apply rotate-180;
  }

  .SelectDropdownPortal {
    @apply overflow-hidden fixed z-50;
    transition: all 150ms ease;
  }

  .SelectBtn {
    @apply w-full p-3 flex items-center justify-start;
    @apply transition-colors bg-base-100 border-none hover:bg-primary/20;
  }

  .SelectBtn-active {
    @apply font-bold;
  }

  .SelectClearBtn {
    @apply absolute right-0 top-1/2 -translate-y-1/2 p-1;
    @apply hover:bg-red-100 transition-colors;
  }

  .SelectContent {
    @apply shadow p-2 max-h-80 overflow-auto;
    @apply bg-base-100 border border-base-300 rounded-lg;
    transition: all 150ms ease;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .Portal-init .SelectContent,
  .Portal-close .SelectContent {
    transform: translateY(-100%);
  }

  .Portal-open .SelectContent {
    transform: translateY(0%);
  }

  .SelectInput-open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}